doctype html  
html(lang='en')  
 head
   title Pug
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
 body
    table(class="table")
        thead
            tr
                th(scope="col") Error Type
                th(scope="col") Label
                th(scope="col") Cuboid ID
                th(scope="col") Nuro ID
                th(scope="col") Dimensions
                th(scope="col") Position
                th(scope="col") Frames
        tbody   
          each val in report
           tr
              td #{JSON.stringify(val.error_type)}
              td #{JSON.stringify(val.label)}
              td #{JSON.stringify(val.cuboidId)}
              td #{JSON.stringify(val.nuro_id)}
              td #{JSON.stringify(val.dimensions)}
              td #{JSON.stringify(val.position)}
              td #{JSON.stringify(val.frames)}